<p>You have to sign up to use the image gallery.The upload wouldn't work, because you can't store upload image on heroku's server. It will use default image as the upload picture.
Follow is also bugged and lot of things to add on the to do list.</p>